APP_URL=http://localhost:3333
NODE_ENV=development

#Auth
APP_SECRET=713c213b13fce55c6c40434e2df63631


#DATABASE
DB_HOST=localhost
DB_USER=
DB_PASS=
DB_NAME=
DB_DIALIECT=

#MONGO
MONGO_URL=mongodb://

#REDIS
REDIS_HOST=192.168.99.100
REDIS_PORT=6379

#MAIL
MAIL_HOST=mtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=

#SENTRY
SENTRY_DSN=