<strong>Olá, {{ name }}</strong>
<p>Obrigado por fazer parte da nossa equipe, confira os detalhes do seu plano abaixo: </p>
<p>
  <strong>Data de inicio do plano: {{start}}</strong> <br />
  <strong>Data de final do plano: {{end}}</strong> <br />
  <strong>Valor do plano: R$ {{value}}</strong> <br />
</p>